
@{
    ViewBag.Title = "Exam Start Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-controller="Exam" asp-action="StartExam"
   class="btn btn-info mt-2" style="width:auto">Start Exam</a>

