
@{
    ViewBag.Title = "Exam Start Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-controller="Exam" asp-action="StartExam"
   class="btn btn-info mt-2" asp-route-pageNumber="1" asp-route-positionId="@ViewBag.PositionId" asp-route-candidateId="@ViewBag.CandidateId" >
    Start Exam</a>

