
@{
    ViewData["Title"] = "TestSubmit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        setTimeout(function () {
            window.location.href = '/Home/Index';
        }, 3000);
    });
</script>

<h1>Your Test Submitted Successfully</h1>


