
@{
    ViewData["Title"] = "TestSubmit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
$( document ).ready(function() {
   window.history.forward();
});
</script>

<h1>Your Test Submitted Successfully</h1>


