.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.bg-primary {
    background-color: #337ab7 !important;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.imageThumbnail {
    height:200px;
    width:auto;
}
#logo {
    width: 150px;
    height: 100px;
    display: block;
    text-indent: -9999px;
}


/*Navbar css start*/
/*followed :https://codepen.io/maheshambure21/pen/QwXaRw*/
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

small {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
}

h1 {
    text-align: center;
    /*padding: 50px 0;*/
    font-weight: 800;
    margin: 0;
    letter-spacing: -1px;
    color: inherit;
    font-size: 40px;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: 300;
    color: inherit;
    padding: 50px;
}

.center {
    text-align: center;
}

section {
    height: 100vh;
}

/* NAVIGATION */
nav {
    width: 100%;
    margin: 0 auto;
    background: #fff;
    padding: 50px 0;
    margin-bottom:1px;
}

    nav ul {
        list-style: none;
        text-align: center;
    }

        nav ul li {
            display: inline-block;
        }

            nav ul li a {
                display: block;
                padding: 15px;
                text-decoration: none;
                color: #aaa;
                font-weight: 800;
                text-transform: uppercase;
                /*margin: 0 10px;*/
            }

                nav ul li a,
                nav ul li a:after,
                nav ul li a:before {
                    transition: all .5s;
                }

                    nav ul li a:hover {
                        color: #555;
                    }



    /* SHIFT */
    nav.shift ul li a {
        position: relative;
        z-index: 1;
    }

        nav.shift ul li a:hover {
            color: #91640F;
        }

        nav.shift ul li a:after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 100%;
            height: 1px;
            content: '.';
            color: transparent;
            background: #F1C40F;
            visibility: none;
            opacity: 0;
            z-index: -1;
        }

        nav.shift ul li a:hover:after {
            opacity: 1;
            visibility: visible;
            height: 100%;
        }



/* Keyframes */
@-webkit-keyframes fill {
    0% {
        width: 0%;
        height: 1px;
    }

    50% {
        width: 100%;
        height: 1px;
    }

    100% {
        width: 100%;
        height: 100%;
        background: #333;
    }
}

/* Keyframes */
@-webkit-keyframes circle {
    0% {
        width: 1px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 1px;
        z-index: -1;
        background: #eee;
        border-radius: 100%;
    }

    100% {
        background: #aaa;
        height: 5000%;
        width: 5000%;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 0;
    }
}

/*Navbar css end*/



/*Hero css start*/
#hero {
    width: 100%;
    height: 93vh;
    background: url('../images/developer_bg.jpg') top center;
    background-repeat: no-repeat;
    background-size: 100% 95vh;
    position: relative;
}

    #hero:before {
        content: "";
        /*background: rgba(0, 0, 0, 0.6);*/
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    #hero .hero-container {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }

    #hero h1 {
        margin: 30px 0 10px 0;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        text-transform: uppercase;
        color: #fff;
    }

    #hero h2 {
        color: #eee;
        margin-bottom: 50px;
        font-size: 24px;
    }

    #hero .btn-get-started {
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 8px 28px;
        border-radius: 50px;
        transition: 0.5s;
        margin: 10px;
        border: 2px solid #fff;
        color: #fff;
    }

        #hero .btn-get-started:hover {
            background: #2dc997;
            border: 2px solid #2dc997;
        }
/*Hero css End*/
/*Navbar css end*/

legend {
    background-color: #331f1d;
    color: #fff;
    padding: 1px 9px;
}
fieldset {
    min-width: 0;
    padding: 24px;
    margin: 0;
    border: 1px solid;
}

.slogan {
    color: #34397b;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    /* margin-top: 5px; */
    display: inline-block;
    vertical-align: bottom;
}
table input[type=text] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 6px 10px 6px 20px;
}